<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
<h1>Best images in town</h1>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Alias ea et fuga itaque nisi recusandae sapiente tempora voluptates!
    Eveniet minus non voluptates. Animi dolorem ducimus perspiciatis recusandae
    sit soluta temporibus!</span><span>Aliquam aperiam blanditiis consectetur
    consequuntur cumque distinctio doloremque eius esse est et expedita facere
    facilis ipsum modi molestias natus necessitatibus neque placeat quibusdam,
    rem reprehenderit sed suscipit totam veritatis vero.</span></p>
</body>
</html>