<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/el stilo.css' %}">
</head>
<body>
<h2>This is my first page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, consectetur cum cupiditate de
    serunt doloremque ducimus error illo illum, magni quaerat ratione reprehenderit repudiandae, sed sunt totam ut vel. Asperiores, voluptatem?</p>
m ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores consectetur dolorum eos, expedita in iste
    mollitia neque nihil odio officiis placeat quia quidem quod saepe, sunt tempora tenetur ve
 Beatae blanditiis culpa deleniti dolorum eius eos explicabo facere facilis fuga illum impedit incidunt labore,
    necessitatibus nulla numquam obcaecati odio perferendis placeat quam saepe sed suscipit, temporibus tenetur
    veritatis voluptates.\
   Accusamus ad aliquam aliquid animi aperiam at cum doloremque doloribus explicabo fugiat hic, id maxime minus
    molestias natus nulla numquam placeat possimus saepe sapiente similique tenetur ullam vel veritatis, voluptatum!
      Ad alias beatae, corporis dignissimos dolor doloremque error hic ipsam iste laborum quae quas quis sequi sit, velit
    voluptate voluptates! Architecto dolore expedita illum quaerat qui quis ratione rerum veniam.
</body>
</html>